body {
    text-align: center;
    background-color: #3B4664;
}

.display {
    background-color: #181F32;
    margin-left: 25%;
    margin-right: 25%;
    color: #FCFFFF;

}

.button-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #252D44;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
}

.button {
    border-radius: 18%;
    width: 3rem;
}

#buttonZero {
    width: 6.4rem;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}